button{
    height: 70px;
    width: 70px;
    font-size: 20px;
    color: rgb(210, 214, 155);
    background-color: rgb(29, 41, 8);
    border-radius: 5%;
}

.input{
    height: 70px;
    width: 300px;
    border-radius: 5%;
    color: rgb(0, 0, 0);
    background-color: rgb(92, 76, 76);
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px;

}

.equal{
    background-color: rgb(42, 5, 66);
}

.key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;

  }

  .calculator {
    border-radius: 1px;
    background-color: black;
    width: 400px;
  }